
version: "3.9"
 
services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db

  backend:
    image: deepak18052000/mean-backend:latest
    container_name: mean-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URL: "mongodb://admin:admin123@mongo:27017/"
    depends_on:
      - mongo

  frontend:
  image: deepakkumarrathour/mean-frontend:latest
  container_name: mean-frontend
  ports:
    - "80:80"
  restart: always
  volumes:
    - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
   

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend 

volumes:
  mongo_data:
          

          