version: '3.8'

services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db
    networks:
      - mean-net

  backend:
    image: deepak18052000/mean-backend:latest
    restart: unless-stopped
    environment:
      MONGO_URL: "mongodb://root:example@mongo:27017/admin"
      PORT: 3000
    depends_on:
      - mongo
    networks:
      - mean-net

  frontend:
    image: deepak18052000/mean-frontend:latest
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - mean-net

  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - mean-net

volumes:
  mongo-data:

networks:
  mean-net:

